@import '../../constants/colors.css';

.WeatherStyle {
  position: absolute;
  text-align: center;
  bottom: 0;
  height: 25%;
  width: 100%;
}

.LocationInfo {
  font-weight: bold;
  font-size: 38px;
  color: var(--color-ligthGray);
  padding: 5px 0 20px 0;
}

.WeatherInfoFlex {
  display: flex;
  justify-content: center;
  width: 100%;
}

.WeatherInfo {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: var(--color-ligthGray);
  width: 50%;
  padding: 15px;
}

.FavouriteBtn {
  display: flex;
  justify-content: center;
  background-color: var(--color-orange);
  font-size: 28px;
  padding: 15px;
  cursor: pointer;
}

.FavouriteBtn:hover {
  background-color: var(--color-darkOrange);
  font-weight: bold;
}

span {
  padding: 0 30px 0 30px;
  font-size: 28px;
  font-weight: bold;
  border-left-style: solid;
  border-width: 3px;
  border-color: var(--color-orange);
}

@media only screen and (max-width: 1440px) {
  .WeatherInfo {
    width: 70%;
  }
}

@media only screen and (max-width: 1024px) {
  span {
    font-size: 25px;
  }

  .LocationInfo {
    padding: 20px 0 20px 0;
  }

  .WeatherInfoFlex {
    flex-direction: column;
  }

  .WeatherInfo {
    width: 80%;
    margin: auto;
  }

  .FavouriteBtn {
    width: 80%;
    font-size: 20px;
    margin: auto;
  }

  .WeatherStyle {
    height: 30%;
  }
}

@media only screen and (max-width: 425px) {
  .LocationInfo {
    font-size: 25px;
  }

  span {
    font-size: 20px;
  }

  .FavouriteBtn {
    font-size: 18px;
  }

  .WeatherInfo {
    flex-direction: column;
  }
}
