@import './constants/colors.css';

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  height: 100%;
  background-color: var(--color-body);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
